## ignore any target dir
target

##ignore only top level data dir - local node data files for unit tests
/data
/bin
build/
.gradle/

## Ignore project files created by Eclipse
.settings
.project
.classpath

